doctype 5
html(ng-app='galleryApp')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.min.css')
    script(type='text/javascript', src='http://code.jquery.com/jquery-2.0.3.min.js')
    script(type='text/javascript', src='http://code.angularjs.org/1.2.0rc1/angular.js')
    script(type='text/javascript', src='http://code.angularjs.org/1.2.0rc1/angular-route.min.js')
    script(type='text/javascript', src='http://code.angularjs.org/1.2.0rc1/angular-resource.min.js')
    script(type='text/javascript', src='/javascripts/photoGallery.js')
    script(type='text/javascript', src='/javascripts/photoGalleryService.js')
    script(type='text/javascript', src='/javascripts/ui.common.js')
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.min.js')
    script(type='text/javascript', src='//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js')
    body
     div.container
      div.navbar.navbar-default(ng-controller='mainMenuCtrl')
        a.navbar-brand(href='/') photo gallery
        ul.nav.navbar-nav
            li(ng-class="{active: isActive('/')}"): a(href='#') Главная
            li(ng-class="{active: isActive('/awarded')}"): a(href='#/awarded') Призеры
            li(ng-class="{active: isActive('photo/upload')}"): a(href='#/photo/upload') Загрузить
            li(ng-class="{active: isActive('/feedback')}"): a(href='#/feedback') Отзывы
            li(ng-class="{active: isActive('/about')}"): a(href='#/about') О нас
        ul.nav.navbar-nav.pull-right
            li(ng-class="{active: isActive('login')}", ng-show="config.isGuest"): a(href='#/login') Войти
            li(ng-class="{active: isActive('register')}", ng-show="config.isGuest"): a(href='#/register') Регистрация
            li(ng-show="!config.isGuest"): a: strong {{ config.userName }}
            li(ng-show="!config.isGuest"): a(href="#", ng-click='logOut()', ng-bind='logoutText')

      div.container(ng-view)
       block content

      hr
      footer
       p © Simple photo gallery 2013